@{
    ViewData["Title"] = "Home Page";

}

<div class="mainBody">
    <div id="mainText">
        <h2 class="mainPage" id="mainShopH2">Be prepared for a natural disaster or post apocalyptic situation</h2>
        <h3 class="mainPage" id="mainShopH3">Shop safety and survival supplies</h3>
    </div>
</div>

