@{
    ViewData["Title"] = "Post Apocalypse";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Plagued with concerns about the aftermath of an apocalypse?</p>

@{
    //get location and generate 
}
<div class="container">


</div>